.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flex-item {
  flex: 1;
}

.pick-address {
  color: #18aeac;
  text-decoration: underline;
}

.pick-address:hover {
  cursor: pointer;
  color: #ff8303;
}
